<div style="text-align: center">
<div class="content" *ngIf="!isEdit">
<table style="width: 100%; border: 1px solid black">
  <th>No</th>
  <th>Nama</th>
  <th>Alamat</th>
  <tbody>
    <tr *ngFor="let us of users">
      <td>{{us.id}}</td>
      <td>{{us.name}}</td>
      <td>{{us.address}}</td>
      <td><button (click)="editPage(us)">Test</button></td>
    </tr>

</tbody>
</table>

</div>
</div>

<div *ngIf="isEdit">
  <app-create-customer
    [data]="dataUser" (kirimout)="doCancel($event)">
  </app-create-customer>

</div>